.box{
    background: white;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 12px;
    margin: auto;
    margin-top: 70px;
    height: 400px; 
    width: 618px;
  }
  
  th{
    padding: 56px;
    margin-left: 2px;
    padding-top: 70px;
  }
  
  input{
    padding: 3px;
    margin: 12px;
    border-radius: 4px;
    width: 120px;
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(135deg, cyan, darkblue);
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin: auto;
    margin-top: 150px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: linear-gradient(-135deg, cyan, darkblue);
  }